{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Liste des annonces</h2>

    {% if app.session.flashbag.has('info') %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <p>{{ flash_message }}</p>
                {#<a href="{{ path('oc_core_homepage') }}">Retour à l'accueil</a>#}
            </div>
        {% endfor %}
    {% endif %}

    <ul>
        {% for advert in pagination %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }}
                le {{ advert.date|date('d/mY') }}
            </li>
        {% else %}
            <li>Pas (encore!) d'annonce.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}


