{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    {% if app.session.flashbag.has('info') %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <p>{{ flash_message }}</p>
                {#<a href="{{ path('oc_core_homepage') }}">Retour à l'accueil</a>#}
            </div>
        {% endfor %}
    {% endif %}

    <h2>{{ advert.title }}</h2>

    {% if advert.image is not null %}
        <img src="{{ asset(advert.image.getWebPath) }}"
             alt="{{ advert.image.alt }}"
        />
    {% endif %}
    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>

    {% for advertSkill in listAdvertSkills %}
        <p>{{ advertSkill.skill.name }} : {{ advertSkill.level }}</p>
    {% endfor %}


    {% if not advert.categories.empty %}
        <p>
            Cette annonce est parue dans les catégories suivantes :
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %},{% endif %}
            {% endfor %}
        </p>
    {% endif %}


    <div class="application">
        {% for application in listApplications %}
            <h4>{{ loop.index }} : {{ application.author }}, le {{ application.date|date('d/m/Y') }}</h4>
            <p>{{ application.content }}</p>
        {% endfor %}
    </div>


    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('oc_platform_edit', {'id':advert.id} ) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('oc_platform_delete', {'id':advert.id} ) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </p>

{% endblock %}